@{
    ViewData["Title"] = "Home Page";
}

<body style="background-color: darkred;">
    <div class="text-center">
        <h1 class="display-4" style="color:gold;font-family:'Lucida Sans'">Welcome to my Pokemon API Project</h1>
        <h2 class="display-6" style="color:gold;font-family:'Lucida Sans'">Created by Jeremy Cabrera</h2>
        <br/>
        <img src="https://forums.pokemmo.com/uploads/monthly_2023_05/download.gif.bc2b7909dab9a7b27467507b2546c5fa.gif" alt="Pokemon">
        <br/>
        <br/>
        <p style="color:white;">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
</body>