@{
    ViewData["Title"] = "Privacy Policy";
}
<body style="background-color:darkred">
    <h1 style="color:gold">@ViewData["Title"]</h1>

    <p style="color:gold">Use this page to detail your site's privacy policy.</p>

    <img src="https://i.pinimg.com/originals/9f/b1/25/9fb125f1fedc8cc62ab5b20699ebd87d.gif" alt="Pikachu running">
</body>