
<body style="background-color: darkred;">
    <div class="text-center">
        <h1 style="color:gold;font-family:Impact">Choose your Pokemon.</h1>
        <form method="post" asp-action="RetrievePokemon">
            <label for="pokemon" style="color:white;">Pokemon</label>
            <input type="text" id="pokemon" name="pokemon" />
            <button type="submit">Submit</button>
        </form>
        <br/>
        <br/>
        <br/>
        <img src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExanJuaXI3bDlmOW94NTJibHdwaGxlZ2twNjZ3a3hlZWt6am93d3dtdiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/DRfu7BT8ZK1uo/giphy.gif" alt="Who's that Pokemon">
    </div>
</body>