<h1>Choose your Pokemon.</h1>

<form method="post" asp-action="RetrievePokemon">
    <label for="pokemon">Pokemon</label>
    <input type="text" id="pokemon" name="pokemon" />
    <button type="submit">Submit</button>
</form>

